<div class="download-bar-container" *ngIf="showUpload || showDownload" [@panelInOut]>
	<div class="upload-wrapper" *ngIf="showUpload">
		Upload
		<div [style.width.%]='uploadProgress'></div>
	</div>
	<div class="download-wrapper" *ngIf="showDownload">
		Download
		<div [style.width.%]='downloadProgress'></div>
	</div>
</div>
