
.download-bar-container{
	 position: sticky;
	 bottom: 0;
	 background-color: #ffffff;
	 max-width: 33%;
	 border-radius: 10px;
	 padding: 6px;
	 box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	 transition: all .1s;
}

.upload-wrapper{
	padding: 5px;
}

.upload-wrapper > div{
	border-radius: 5px;
	margin-top: 5px;
	background-color: #007ad9;
	height: 25px;
	clear:both;
}

.download-wrapper{
	padding: 5px;
}

.download-wrapper > div{
	border-radius: 5px;
	margin-top: 5px;
	background-color: #007ad9;
	height: 25px;
	clear:both;
}
