<div class="header red-border">
	<div class="p-grid">
		<div class="p-col-8">
			<img src="assets/img/logo.jfif" alt="" style="width:20%; margin-left:8px;">
		</div>
		<div class="p-col-4">
			<div *ngIf="usuarioValido" class="usuario-info">
				<div class="nome">
					{{nomeUsuario}}
				</div>
				<div class="email">
					{{emailUsuario}}
				</div>
				<hr>
				<div class="p-grid">
					<div class="botao-logout p-col-6" *ngIf="!trocandoSenha">
						<button pButton type="button" label="Trocar Senha" (click)="trocandoSenha = true" style="width:100%"></button>
					</div>
					<div class="p-col-6" *ngIf="trocandoSenha">
						<input type="password" pPassword [(ngModel)]="novaSenha"
						promptLabel="Digite a senha"
						weakLabel="Fraca"
						mediumLabel="Média"
						strongLabel="Forte"/>
					</div>
					<div class="botao-logout p-col-6">
						<button pButton type="button" label="Logout" (click)="logout()" style="width:100%"></button>
					</div>
					<div class="p-col-6" *ngIf="trocandoSenha">
						<input type="password" pPassword [(ngModel)]="confirmaNovaSenha"
						promptLabel="Confirme a senha"
						weakLabel="Fraca"
						mediumLabel="Média"
						strongLabel="Forte"/>
					</div>
					<div class="p-col-6" *ngIf="trocandoSenha">
						<button pButton type="button" label="Trocar" (click)="trocarSenha()" style="width:100%"></button>
					</div>
				</div>
			</div>
		</div>
		<div class=p-col>
		</div>
	</div>
</div>
