.header{
	background-color: #ffffff;
}

.red-border{
	border-width: 0px 0px 5px 0px;
	border-style: solid;
	border-color: #900033;
}
.usuario-info{
	padding-top: 15px;
	padding-right: 5px;
}
.nome{
	color: #900033;
	font-size: 130%;
	font-style: bold;
}
.email{
	color: #900033;
	font-size: 90%;
	font-style: italic;
}
.ui-button {
	background-color: #900033;
	border-color: #900033;
	&:hover {
        background-color: #670033 !important;
		border-color: #670033 !important;
    }
}
// button: hover{
// 	background-color: #000000;
// }
.botao-logout{
	// margin-top: 30px;
	text-align: right;

}
