<p-tabView>
    <p-tabPanel>
		<ng-template pTemplate="header"><i class="pi pi-user"></i> Usuário </ng-template>
       <app-cadastra-usuario></app-cadastra-usuario>
    </p-tabPanel>
	<p-tabPanel>
		<ng-template pTemplate="header"><i class="pi pi-download"></i> Backup</ng-template>
        <app-backups></app-backups>
    </p-tabPanel>
    <p-tabPanel>
		<ng-template pTemplate="header"><i class="pi pi-lock-open"></i> Permissões </ng-template>
        <app-solicitacao-permissao></app-solicitacao-permissao>
    </p-tabPanel>
    <p-tabPanel>
		<ng-template pTemplate="header"><i class="pi pi-align-justify"></i> Log</ng-template>
        <app-log></app-log>
    </p-tabPanel>
	<p-tabPanel>
		<ng-template pTemplate="header"><i class="pi pi-file"></i> Documentos</ng-template>
        <app-cadastra-documentos></app-cadastra-documentos>
    </p-tabPanel>
	<p-tabPanel>
		<ng-template pTemplate="header"><i class="pi pi-id-card"></i> Clientes</ng-template>
		<app-clientes></app-clientes>
	</p-tabPanel>
</p-tabView>
