.container{
	margin: 50px auto;
	max-width: 1000px;

}
.content{
	margin-top: 50px;
	padding: 15px;
}
.header{
	background-color: #ffffff;
}

.login-form{
	background-color: #ffffff;
	padding: 15px;
}

.red-border{
	border-width: 0px 0px 5px 0px;
	border-style: solid;
	border-color: #900033;
}
