<p-fieldset legend="Cadastro">
	<div class="p-grid">
		<div class="p-col-12 p-md-3">
			<span class="ui-float-label">
				<input [(ngModel)]="cliente.nome" pInputText id="new_nome">
				<label for="nome">Nome</label>
			</span>
		</div>
		<div class="p-col-12 p-md-3">
			<span class="ui-float-label">
				<p-inputMask [(ngModel)]="cliente.cpf" mask="999.999.999-99" id="new_cpf" [style]="{'width':'100%'}"></p-inputMask>
				<label for="new_cpf">CPF</label>
			</span>
		</div>
		<div class="p-col-12 p-md-3">
			<span class="ui-float-label">
				<p-inputMask [(ngModel)]="cliente.cnpj" mask="99.999.999/9999-99" id="new_cnpj" [style]="{'width':'100%'}"></p-inputMask>
				<label for="new_cnpj">CNPJ</label>
			</span>
		</div>
		<div class="p-col-12 p-md-3">
			<span class="ui-float-label">
				<input [(ngModel)]="cliente.nome_padrao" pInputText id="new_nome_padrao">
				<label for="new_nome_padrao">Nome Padrão</label>
			</span>
		</div>
		<div class="p-col-12 p-md-3">
			<span class="ui-float-label">
				<p-inputMask [(ngModel)]="cliente.telefone1" mask="(99) 99999999?9" id="new_telefone1" [style]="{'width':'100%'}"></p-inputMask>
				<label for="new_telefone1">Telefone 1</label>
			</span>
		</div>
		<div class="p-col-12 p-md-3">
			<span class="ui-float-label">
				<p-inputMask [(ngModel)]="cliente.telefone2" mask="(99) 99999999?9" id="new_telefone2" [style]="{'width':'100%'}"></p-inputMask>
				<label for="new_telefone2">Telefone 2</label>
			</span>
		</div>
		<div class="p-col-12 p-md-3">
			<span class="ui-float-label">
				<p-inputMask [(ngModel)]="cliente.telefone3" mask="(99) 99999999?9" id="new_telefone3" [style]="{'width':'100%'}"></p-inputMask>
				<label for="new_telefone3">Telefone 3</label>
			</span>
		</div>
		<div class="p-col-12 p-md-3">
			<span class="ui-float-label">
				<input [(ngModel)]="cliente.email" pInputText id="new_email">
				<label for="new_email">Email</label>
			</span>
		</div>
		<div class="p-col-12 p-md-3">
			<span class="ui-float-label">
				<p-inputMask [(ngModel)]="cliente.cep" mask="99999-999" id="new_cep" (onBlur)="buscaCep()" [style]="{'width':'100%'}"></p-inputMask>
				<label for="new_cep">CEP</label>
			</span>
		</div>
		<div class="p-col-12 p-md-3">
			<span class="ui-float-label">
				<input [(ngModel)]="cliente.rua" pInputText id="new_rua">
				<label for="new_rua">Rua</label>
			</span>
		</div>
		<div class="p-col-12 p-md-3">
			<span class="ui-float-label">
				<input [(ngModel)]="cliente.numero" pInputText id="new_numero">
				<label for="new_numero">Número</label>
			</span>
		</div>
		<div class="p-col-12 p-md-3">
			<span class="ui-float-label">
				<input [(ngModel)]="cliente.bairro" pInputText id="new_bairro">
				<label for="new_bairro">Bairro</label>
			</span>
		</div>
		<div class="p-col-12 p-md-3">
			<span class="ui-float-label">
				<input [(ngModel)]="cliente.cidade" pInputText id="new_cidade">
				<label for="new_cidade">Cidade</label>
			</span>
		</div>
		<div class="p-col-12 p-md-3">
			<p-dropdown [options]="ufs" [(ngModel)]="cliente.uf" placeholder="UF" [style]="{'width':'100%'}"></p-dropdown>
		</div>
		<div class="p-col-12 p-md-3">
			<span class="ui-float-label">
				<input [(ngModel)]="cliente.pais" pInputText id="new_pais">
				<label for="new_pais">País</label>
			</span>
		</div>
		<div class="p-col-12 p-md-3">
			<span class="ui-float-label">
				<input [(ngModel)]="cliente.complemento" pInputText id="new_complemento">
				<label for="new_complemento">Complemento</label>
			</span>
		</div>
		<div class="p-col-12 p-md-3">
			<span class="ui-float-label">
				<input [(ngModel)]="cliente.empresa" pInputText id="new_empresa">
				<label for="new_empresa">Empresa</label>
			</span>
		</div>
		<div class="p-col-12 p-md-3">
			<button pButton type="button" (click)="cadastrar()" icon="pi pi-plus" label="Cadastrar" style="width:100%"></button>
		</div>
	</div>
</p-fieldset>



<p-fieldset legend="Busca">
	<div class="p-grid">

		<div class="p-col-8">
			<span class="ui-float-label">
				<input [(ngModel)]="busca" pInputText id="busca_email" (input)="filtrar()">
				<label for="busca_email">Texto</label>
			</span>
		</div>
		<div class="p-col-4">
			<button pButton (click)="limpar()"  type="button" class="ui-button-info" icon="pi pi-undo" label="Limpar" style="width:100%"></button>
		</div>
	</div>
	<p-table #tt [columns]="cols" [value]="clientesFiltrados" [paginator]="true" [rows]="10">
		<ng-template pTemplate="header">
			<tr>
				<th>Nome</th>
				<th style="width:9em">CPF</th>
				<th>CNPJ</th>
				<th>Telefone</th>
				<th style="width:30%">Email</th>
				<th style="width:4em"></th>
			</tr>
		</ng-template>
		<ng-template pTemplate="body" let-cliente let-ri="rowIndex">
			<tr>
				<td>{{cliente.nome}}</td>
				<td>{{cliente.cpf | cpf}}</td>
				<td>{{cliente.cnpj | cnpj}}</td>
				<td>{{cliente.telefone1 | tel}}</td>
				<td>{{cliente.email}}</td>
				<td><p-button (onClick)="detalharCliente(cliente)" icon="pi pi-eye"></p-button></td>
			</tr>
		</ng-template>

	</p-table>
</p-fieldset>
<app-cliente-detalhes #clienteDetalhes></app-cliente-detalhes>
