<div class="ui-fluid">
	<span class="ui-float-label">
		<p-autoComplete #autocomplete
			(onSelect)="dataChanged()"
			(onUnselect)="dataChanged()"
			[style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"
			[(ngModel)]="texts"
			field="nome"
			[inputId]="id"
			[suggestions]="filteredTags"
			(completeMethod)="search($event)"
			(keyup.enter)="saveTag($event)"
			[multiple]="true">
		</p-autoComplete>
		<label for="completeInput">Tags</label>
	</span>
<div>
