<p-dialog [(header)]="nome" [(visible)]="display" [style]="{ minWidth: '900px', maxWidth: '900px'}" (onHide)="setEditMode(false)">
	<div class="p-grid data-wrap" *ngIf="!edit">

		<div class="p-col-3">Nome: {{cliente.nome}}</div>
		<div class="p-col-3">CPF: {{cliente.cpf | cpf}}</div>
		<div class="p-col-3">CNPJ: {{cliente.cnpj | cnpj}}</div>
		<div class="p-col-3">Nome Padrão: {{cliente.nome_padrao}}</div>

		<div class="p-col-3">Telefone 1: {{ cliente.telefone1 | tel }}</div>
		<div class="p-col-3">Telefone 2: {{ cliente.telefone2 | tel }}</div>
		<div class="p-col-3">Telefone 3: {{ cliente.telefone3 | tel }}</div>
		<div class="p-col-3">Email: {{cliente.email}}</div>

		<div class="p-col-3">Rua: {{cliente.rua}}, nº {{cliente.numero}}</div>
		<div class="p-col-3">Bairro: {{cliente.bairro}}</div>
		<div class="p-col-3">Cidade: {{cliente.cidade}}</div>
		<div class="p-col-3">UF: {{cliente.uf}}</div>

		<div class="p-col-3">País: {{cliente.pais}}</div>
		<div class="p-col-3">CEP: {{cliente.cep | cep}}</div>
		<div class="p-col-3">Empresa: {{cliente.empresa}}</div>
		<div class="p-col-12">Complemento: {{cliente.complemento}}</div>

	</div>
	<div class="p-grid form-wrap" *ngIf="edit">
		<div class="p-col-12 p-md-4">
			<span class="ui-float-label">
				<input [(ngModel)]="cliente.nome" pInputText id="new_nome">
				<label for="nome">Nome</label>
			</span>
		</div>
		<div class="p-col-12 p-md-4">
			<span class="ui-float-label">
				<p-inputMask [(ngModel)]="cliente.cpf" mask="999.999.999-99" id="new_cpf" [style]="{'width':'100%'}"></p-inputMask>
				<label for="new_cpf">CPF</label>
			</span>
		</div>
		<div class="p-col-12 p-md-4">
			<span class="ui-float-label">
				<p-inputMask [(ngModel)]="cliente.cnpj" mask="99.999.999/9999-99" id="new_cnpj" [style]="{'width':'100%'}"></p-inputMask>
				<label for="new_cnpj">CNPJ</label>
			</span>
		</div>
		<div class="p-col-12 p-md-4">
			<span class="ui-float-label">
				<input [(ngModel)]="cliente.nome_padrao" pInputText id="new_nome_padrao">
				<label for="new_nome_padrao">Nome Padrão</label>
			</span>
		</div>
		<div class="p-col-12 p-md-4">
			<span class="ui-float-label">
				<p-inputMask [(ngModel)]="cliente.telefone1" mask="(99) 99999999?9" id="new_tel1" [style]="{'width':'100%'}"></p-inputMask>
				<label for="new_tel1">Telefone 1</label>
			</span>
		</div>
		<div class="p-col-12 p-md-4">
			<span class="ui-float-label">
				<p-inputMask [(ngModel)]="cliente.telefone2" mask="(99) 99999999?9" id="new_tel2" [style]="{'width':'100%'}"></p-inputMask>
				<label for="new_tel2">Telefone 2</label>
			</span>
		</div>
		<div class="p-col-12 p-md-4">
			<span class="ui-float-label">
				<p-inputMask [(ngModel)]="cliente.telefone3" mask="(99) 99999999?9" id="new_tel3" [style]="{'width':'100%'}"></p-inputMask>
				<label for="new_tel3">Telefone 3</label>
			</span>
		</div>
		<div class="p-col-12 p-md-4">
			<span class="ui-float-label">
				<input [(ngModel)]="cliente.email" pInputText id="new_email">
				<label for="new_email">Email</label>
			</span>
		</div>
		<div class="p-col-12 p-md-4">
			<span class="ui-float-label">
				<p-inputMask [(ngModel)]="cliente.cep" mask="99999-999" id="new_cep" [style]="{'width':'100%'}"></p-inputMask>
				<label for="new_cep">CEP</label>
			</span>
		</div>
		<div class="p-col-12 p-md-4">
			<span class="ui-float-label">
				<input [(ngModel)]="cliente.rua" pInputText id="new_rua">
				<label for="new_rua">Rua</label>
			</span>
		</div>
		<div class="p-col-12 p-md-4">
			<span class="ui-float-label">
				<input [(ngModel)]="cliente.numero" pInputText id="new_numero">
				<label for="new_numero">Número</label>
			</span>
		</div>
		<div class="p-col-12 p-md-4">
			<span class="ui-float-label">
				<input [(ngModel)]="cliente.bairro" pInputText id="new_bairro">
				<label for="new_bairro">Bairro</label>
			</span>
		</div>
		<div class="p-col-12 p-md-4">
			<span class="ui-float-label">
				<input [(ngModel)]="cliente.cidade" pInputText id="new_cidade">
				<label for="new_cidade">Cidade</label>
			</span>
		</div>
		<div class="p-col-12 p-md-4">
			<p-dropdown [options]="ufs" [(ngModel)]="cliente.uf" placeholder="UF" [style]="{'width':'100%'}"></p-dropdown>
		</div>
		<div class="p-col-12 p-md-4">
			<span class="ui-float-label">
				<input [(ngModel)]="cliente.pais" pInputText id="new_pais">
				<label for="new_pais">País</label>
			</span>
		</div>
		<div class="p-col-12 p-md-4">
			<span class="ui-float-label">
				<input [(ngModel)]="cliente.complemento" pInputText id="new_complemento">
				<label for="new_complemento">Complemento</label>
			</span>
		</div>
		<div class="p-col-12 p-md-4">
			<span class="ui-float-label">
				<input [(ngModel)]="cliente.empresa" pInputText id="new_empresa">
				<label for="new_empresa">Empresa</label>
			</span>
		</div>
	</div>



	<div class="button-wrap p-grid">
		<div class="p-offset-10 p-col-2" *ngIf="!edit">
			<button pButton (click)="setEditMode(true)"  type="button" class="ui-button-info" icon="pi pi-pencil" label="Editar" style="width:100%"></button>
		</div>
		<div class="p-offset-8 p-col-2" *ngIf="edit">
			<button pButton (click)="salvar()"  type="button" class="ui-button-info" icon="pi pi-save" label="Salvar" style="width:100%"></button>
		</div>
		<div class="p-col-2" *ngIf="edit">
			<button pButton (click)="cancelar()"  type="button" class="ui-button-info" icon="pi pi-undo" label="Cancelar" style="width:100%"></button>
		</div>
	</div>

	<app-doc-table [clienteId]="cliente.id" #docTable></app-doc-table>
</p-dialog>
<p-confirmDialog header="Confirmação" icon="pi pi-exclamation-triangle"></p-confirmDialog>
