
<p-table [value]="solicitacoes" dataKey="id" editMode="row">
	<ng-template pTemplate="header">
		<tr>
			<th>Solicitante</th>
			<th>Documento</th>
			<th style="width:8em"></th>
			<th style="width:8em"></th>
			<th style="width:8em"></th>
		</tr>
	</ng-template>
	<ng-template pTemplate="body" let-solicitacao let-ri="rowIndex">
		<tr>
			<td>{{solicitacao.solicitante.nome}}</td>
			<td><a (click)="download(solicitacao.documento)">{{solicitacao.documento.nome}}</a></td>
			<td style="text-align:center">
				<button pButton type="button" class="ui-button-success" (click)="conceder(solicitacao.id, solicitacao.documento.tipo)" icon="pi pi-check"></button>
			</td>
			<td style="text-align:center">
				<button pButton type="button" class="ui-button-danger" (click)="negar(solicitacao.id, solicitacao.documento.tipo)" icon="pi pi-times"></button>
			</td>
			<td style="text-align:center">
				<p-button (onClick)="detalharDoc(solicitacao.documento)" icon="pi pi-eye"></p-button>
			</td>
		</tr>
	</ng-template>
</p-table>
<app-documento-detalhes #docDetalhes ></app-documento-detalhes>
