<div class="p-grid">
	<div class="p-md-6">
		<p-fieldset legend="Tipos" [style]="{height:'100%'}">
			<div>
				<p-radioButton name="group" value="interno" [(ngModel)]="docType" label="Documento Interno"></p-radioButton>
			</div>
			<div>
				<p-radioButton name="group" value="peticao" [(ngModel)]="docType" label="Petição"></p-radioButton>
			</div>
			<div>
				<p-radioButton name="group" value="cliente" [(ngModel)]="docType" label="Documento de Cliente"></p-radioButton>
			</div>
			<div>
				<p-radioButton name="group" value="servico" [(ngModel)]="docType" label="Documento de Serviço"></p-radioButton>
			</div>
		</p-fieldset>
	</div>

	<div class="p-md-6">
		<p-fieldset legend="Novo Documento">
			<div class="atributos-peticao p-grid" *ngIf="docType == 'peticao'">
				<div class="p-col-12">
					<span class="ui-float-label">
						<input [(ngModel)]="peticao.numero_processo" pInputText id="numero_peticao">
						<label for="numero_peticao">Número do Processo</label>
					</span>
				</div>
				<div class="p-col-12">
					<app-usuario-selector [placeholder]="'Autor'" [maxSelected]="1" #peticaoAutor></app-usuario-selector>
				</div>
				<div class="p-col-12">
					<app-cliente-selector [placeholder]="'Cliente'" [maxSelected]="1" #peticaoCliente></app-cliente-selector>
				</div>
				<div class="p-col-12">
					<span class="ui-float-label">
						<input [(ngModel)]="peticao.orgao" pInputText id="orgao">
						<label for="orgao">Órgão</label>
					</span>
				</div>
				<div class="p-col-12">
					<span class="ui-float-label">
						<input [(ngModel)]="peticao.proc" pInputText id="proc">
						<label for="proc">Proc</label>
					</span>
				</div>
				<div class="p-col-12">
					<p-dropdown [options]="instancias" [(ngModel)]="peticao.instancia" placeholder="Instância" [style]="{'width':'100%'}"></p-dropdown>
					<!-- <span class="ui-float-label">
						<input [(ngModel)]="peticao.instancia" pInputText id="instancia">
						<label for="instancia">Instância</label>
					</span> -->
				</div>
			</div>
			<div class="atributos-cliente p-grid" *ngIf="docType == 'cliente'">
				<div class="p-col-12">
					<app-cliente-selector [placeholder]="'Cliente'" [maxSelected]="1" #docCliente></app-cliente-selector>
				</div>
			</div>
			<div class="atributos-servico p-grid" *ngIf="docType == 'servico'">
				<div class="p-col-12">
					<span class="ui-float-label">
						<input [(ngModel)]="servico.numero_servico" pInputText id="numero_servico">
						<label for="numero_servico">Número do Serviço</label>
					</span>
				</div>
				<div class="p-col-12">
					<span class="ui-float-label">
						<input [(ngModel)]="servico.serv" pInputText id="serv">
						<label for="serv">Serv</label>
					</span>
				</div>
				<div class="p-col-12">
					<app-usuario-selector [placeholder]="'Autor'" [maxSelected]="1" #servicoAutor></app-usuario-selector>
				</div>

			</div>
			<div class="p-col-12">
				<div class="form-field">
					<app-tag-selector #tagselector [id]="'newTags'"></app-tag-selector>
				</div>

				<div *ngIf="idPermissao==1" class="form-field">
					<p-checkbox [(ngModel)]="docOculto" binary="true" label="Documento Oculto"></p-checkbox>
					<div *ngIf="docOculto">
						<div class="tooltip">Selecione os Usuários que terão acesso irrestrito a este documento. Nenhum outro usuário poderá realizar qualquer ação sobre este documento</div>
						<app-usuario-selector #userselector></app-usuario-selector >
					</div>
				</div>

				<div class="form-field">
					<p-fileUpload name="binary_data[]" customUpload="true" (uploadHandler)="uploadFile($event)"
						#docuploader
						chooseLabel="Escolher Arquivo"
						uploadLabel="Upload"
						cancelLabel="Limpar">
					</p-fileUpload>
				</div>
			</div>

		</p-fieldset>
	</div>

	<div class="p-md-12">
		<app-doc-table></app-doc-table>
	</div>

</div>
