.datas{
	font-size: 70%;
}
.datas-wrapper{
	margin-bottom: 15px;
}

a:hover{
	cursor: pointer;
}
ul{
	margin-top: 5px;
	margin-bottom: 10px;
}

.tooltip{
	margin-top: 10px;
	margin-bottom: 15px;
	font-size: 80%;
}

.form-field {
	margin-top: 5px;
	margin-bottom: 5px;
}

.editor-wrapper {
	margin-top: 15px;
}
