<p-dialog [(header)]="nome" [(visible)]="display" [style]="{ minWidth: '500px', maxWidth: '500px'}" (onHide)="setEditMode(false)">
	<div *ngIf="!editing">
		<div class="datas">
			Enviado por {{documento.responsavel_upload.nome}} em {{documento.data_upload | date:'dd/MM/yyyy HH:mm:ss':'+0000'}}
		</div>
		<div class="datas">
			Última alteração feita por {{documento.responsavel_alteracao.nome}} em {{documento.data_versao | date:'dd/MM/yyyy HH:mm:ss':'+0000'}}
		</div>

		<p-fieldset legend="Petição" *ngIf="documento.tipo == 'peticao'">
			<div class="p-grid">
				<div class="p-col-6">
					Autor: {{documento.autor.nome}}
				</div>
				<div class="p-col-6">
					Cliente: {{documento.cliente.nome}}
				</div>
				<div class="p-col-6">
					Instância: {{documento.instancia}}
				</div>
				<div class="p-col-6">
					Número do Processo: {{documento.numero_processo}}
				</div>
				<div class="p-col-6">
					Proc: {{documento.proc}}
				</div>
				<div class="p-col-6">
					Órgão: {{documento.orgao}}
				</div>
			</div>
		</p-fieldset>

		<p-fieldset legend="Cliente" *ngIf="documento.tipo == 'cliente'">
			<div class="p-grid">
				<div class="p-col-6">
					Cliente: {{documento.cliente.nome}}
				</div>
			</div>
		</p-fieldset>

		<p-fieldset legend="Serviço" *ngIf="documento.tipo == 'servico'">
			<div class="p-grid">
				<div class="p-col-6">
					Autor: {{documento.autor.nome}}
				</div>
				<div class="p-col-6">
					Número do Serviço: {{documento.numero_servico}}
				</div>
				<div class="p-col-6">
					Serv: {{documento.serv}}
				</div>
			</div>
		</p-fieldset>

		<p-fieldset legend="Ações">
			<div class="p-grid">
				<div class="p-col-4 ">
					<button pButton type="button" label="Download" style="width:100%" (click)="download()"></button>
				</div>
				<div class="p-col-4">
					<button pButton type="button" label="Editar" style="width:100%" (click)="setEditMode(true)" ></button>
				</div>
				<div class="p-col-4">
					<button pButton type="button" label="Deletar" style="width:100%" (click)="delete()"></button>
				</div>
			</div>
		</p-fieldset>

		<p-fieldset legend="Permissões">
			<div *ngIf="permissoesEspeciais">
				<div>Apenas os seguintes usuários tem acesso a este arquivo:</div>
				<ul>
					<li *ngFor="let usuario of documento.permitidos">
						{{usuario.nome}}
					</li>
				</ul>
				<div>
					<a (click)="solicitarPermissao()">Solicitar Permissão</a>
				</div>
			</div>
			<div *ngIf="!permissoesEspeciais">
				Este documento não é oculto e não possui permissões especiais
			</div>
		</p-fieldset>

		<hr>
		<div>
			<app-tag-display [tags]="documento.tags"></app-tag-display>
		</div>
	</div>
	<div *ngIf="editing" class="editor-wrapper">

		<div class="p-grid" *ngIf="documento.tipo=='peticao'">
			<div class="p-col-12">
				<span class="ui-float-label">
					<input [(ngModel)]="documento.numero_processo" pInputText id="numero_peticao">
					<label for="numero_peticao">Número do Processo</label>
				</span>
			</div>
			<div class="p-col-12">
				<app-usuario-selector [placeholder]="'Autor'" [maxSelected]="1" #peticaoAutor></app-usuario-selector>
			</div>
			<div class="p-col-12">
				<app-cliente-selector [placeholder]="'Cliente'" [maxSelected]="1" #peticaoCliente></app-cliente-selector>
			</div>
			<div class="p-col-12">
				<span class="ui-float-label">
					<input [(ngModel)]="documento.orgao" pInputText id="orgao">
					<label for="orgao">Órgão</label>
				</span>
			</div>
			<div class="p-col-12">
				<span class="ui-float-label">
					<input [(ngModel)]="documento.proc" pInputText id="proc">
					<label for="proc">Proc</label>
				</span>
			</div>
			<div class="p-col-12">
				<p-dropdown [options]="instancias" [(ngModel)]="documento.instancia" placeholder="Instância" [style]="{'width':'100%'}"></p-dropdown>
			</div>
		</div>

		<div class="p-grid" *ngIf="documento.tipo=='cliente'">
			<div class="p-col-12">
				<app-cliente-selector [placeholder]="'Cliente'" [maxSelected]="1" #docClienteSelector></app-cliente-selector>
			</div>
		</div>

		<div class="p-grid" *ngIf="documento.tipo=='servico'">
			<div class="p-col-12">
				<span class="ui-float-label">
					<input [(ngModel)]="documento.numero_servico" pInputText id="numero_servico">
					<label for="numero_servico">Número do Serviço</label>
				</span>
			</div>
			<div class="p-col-12">
				<span class="ui-float-label">
					<input [(ngModel)]="documento.serv" pInputText id="serv">
					<label for="serv">Serv</label>
				</span>
			</div>
			<div class="p-col-12">
				<app-usuario-selector [placeholder]="'Autor'" [maxSelected]="1" #servicoAutor></app-usuario-selector>
			</div>
		</div>


		<div class="form-field">
			<app-tag-selector #tagselector [id]="'updateTags'"></app-tag-selector>
		</div>

		<div *ngIf="idPermissao==1" class="form-field">
			<p-checkbox [(ngModel)]="docOculto" binary="true" label="Documento Oculto"></p-checkbox>
			<div *ngIf="docOculto">
				<div class="tooltip">Selecione os Usuários que terão acesso irrestrito a este documento. Nenhum outro usuário poderá realizar qualquer ação sobre este documento</div>
				<div class="form-field">
					<app-usuario-selector #userselector></app-usuario-selector >
				</div>
			</div>
		</div>

		<div class="form-field">
			<p-checkbox [(ngModel)]="novoArquivo" binary="true" label="Sobrescrever arquivo" pTooltip="Enter your username"></p-checkbox>
			<p-fileUpload name="binary_data[]" #uploader *ngIf="novoArquivo"
				[showUploadButton]="false"
				[showCancelButton]="false"
				chooseLabel="Escolher Arquivo">
			</p-fileUpload>
		</div>

		<div class="p-grid">
			<div class="p-md-6">
				<button pButton type="button" label="Salvar" style="width:100%" (click)="updateFile()"></button>
			</div>
			<div class="p-md-6">
				<button pButton type="button" label="Cancelar" style="width:100%" (click)="setEditMode(false)"></button>
			</div>
		</div>
	</div>
</p-dialog>
<p-confirmDialog header="Confirmação" icon="pi pi-exclamation-triangle"></p-confirmDialog>
