<p-fieldset legend="Filtrar Documentos">
	<div class="p-grid">
		<div class="p-md-3">
			<span class="ui-float-label">
				<input [(ngModel)]="filtroNomeDocs" pInputText (input)="filterDocs()">
				<label for="nome">Nome do Documento</label>
			</span>
		</div>
		<div class="p-md-9">
			<app-tag-selector (tagsChanged)="tagsChanged($event)"></app-tag-selector>
		</div>
	</div>
</p-fieldset>

<p-table #tt [columns]="cols" [value]="tableDocs" [paginator]="true" [rows]="10">

	<ng-template pTemplate="header">
		<tr>
			<th>Nome</th>
			<th>Data Upload</th>
			<th>Última Modificação</th>
			<th style="width:50%">Tags</th>

			<th style="width:4em"></th>
		</tr>
	</ng-template>

	<ng-template pTemplate="body" let-doc let-ri="rowIndex">
		<tr>
			<td><a (click)="download(doc)">{{doc.nome}}</a></td>
			<td>{{doc.data_upload | date:'dd/MM/yyyy':'+0000'}}</td>
			<td>{{doc.data_versao | date:'dd/MM/yyyy':'+0000'}}</td>
			<td><app-tag-display [tags]="doc.tags"></app-tag-display></td>
			<td><p-button (onClick)="detalharDocumento(doc)" icon="pi pi-eye"></p-button></td>
		</tr>
	</ng-template>
</p-table>
<app-documento-detalhes #docDetalhes ></app-documento-detalhes>
