
<div class="p-grid form-wrap">
	<div class="p-col-12 p-md-12">
		<h3>Cadastro</h3>
	</div>
	<div class="p-col-12 p-md-4">
		<span class="ui-float-label">
			<input [(ngModel)]="usuario.nome" pInputText id="nome">
			<label for="nome">Nome</label>
		</span>
	</div>
	<div class="p-col-12 p-md-4">
		<span class="ui-float-label">
			<input [(ngModel)]="usuario.email" pInputText id="email">
			<label for="email">Email</label>
		</span>
	</div>

	<div class="p-col-12 p-md-4">
		<span class="ui-float-label">
			<input [(ngModel)]="usuario.senha" pPassword  id="senha" type="password"
				promptLabel="Digite a senha"
				weakLabel="Fraca"
				mediumLabel="Média"
				strongLabel="Forte" >
			<label for="senha">Senha</label>
		</span>
	</div>
	<div class="p-col-12 p-md-5">
		<p-dropdown [options]="opcoesPermissao" [(ngModel)]="usuario.tipo" placeholder="Tipo" [style]="{'width':'100%'}"></p-dropdown>
	</div>

	<div class="p-col-12 p-md-5">
		<p-dropdown [options]="opcoesEscritorio" [(ngModel)]="usuario.escritorio" placeholder="Escritório" [style]="{'width':'100%'}"></p-dropdown>
	</div>
	<div class="p-col-12 p-md-2 hidden-sm-down">
		<button pButton type="button" (click)="cadastrar()" icon="pi pi-user-plus" class="add-user" label="Cadastrar"></button>
	</div>
</div>

<div class="p-grid hidden-sm-up">
	<div class="p-col">
		<button class="add-user-big" pButton type="button" label="Cadastrar" (click)="cadastrar()" icon="pi pi-user-plus"></button>
	</div>
</div>
<hr>
<div class="table-wrap">
	<p-table [value]="usuariosExistentes" dataKey="id" editMode="row">
		<ng-template pTemplate="header">
		    <tr>
		        <th style="width:12em">Nome</th>
		        <th style="width:17em">Email</th>
		        <th style="width:13em">Tipo</th>
				<th>Escritório</th>
				<th style="width:7em"></th>
		    </tr>
		</ng-template>
		<ng-template pTemplate="body" let-newData let-editing="editing" let-ri="rowIndex">
		    <tr [pEditableRow]="newData">
		        <td>
					<p-cellEditor>
						<ng-template pTemplate="input">
							<input pInputText type="text" [(ngModel)]="newData.nome" nome>
						</ng-template>
						<ng-template pTemplate="output">
							{{newData.nome}}
						</ng-template>
					</p-cellEditor>
				</td>
		        <td style="font-size:90%; padding:2px;">
					<p-cellEditor>
						<ng-template pTemplate="input">
							<input pInputText type="text" [(ngModel)]="newData.email" email>
						</ng-template>
						<ng-template pTemplate="output" >
							<div >
								{{newData.email}}
							</div>
						</ng-template>
					</p-cellEditor>
				</td>
				<td>
					<p-cellEditor>
						<ng-template pTemplate="input">
							<p-dropdown [options]="opcoesPermissao" [(ngModel)]="newData.tipo" [style]="{'width':'100%'}"></p-dropdown>
						</ng-template>
						<ng-template pTemplate="output">
							{{newData.tipo.permissao}}
						</ng-template>
					</p-cellEditor>
				</td>
				<td>
					<p-cellEditor>
						<ng-template pTemplate="input">
							<p-dropdown [options]="opcoesEscritorio" [(ngModel)]="newData.escritorio" [style]="{'width':'100%'}"></p-dropdown>
						</ng-template>
						<ng-template pTemplate="output">
							{{newData.escritorio.nome}}
						</ng-template>
					</p-cellEditor>
				</td>
				<td style="text-align:center">
	                <button *ngIf="!editing" pButton type="button" pInitEditableRow class="ui-button-info" (click)="onRowEditInit(newData)" icon="pi pi-pencil"></button>
					<button *ngIf="!editing" pButton type="button" class="ui-button-danger" (click)="onRowDelete(newData, ri)" icon="pi pi-trash" style="margin-right: .5em"></button>
	                <button *ngIf="editing" pButton type="button" pSaveEditableRow class="ui-button-success" style="margin-right: .5em" (click)="onRowEditSave(newData, ri)" icon="pi pi-check"></button>
	                <button *ngIf="editing" pButton type="button" pCancelEditableRow class="ui-button-danger" (click)="onRowEditCancel(newData, ri)" icon="pi pi-times"></button>
	            </td>
		    </tr>
		</ng-template>
	</p-table>
</div>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
