<p-table [value]="arquivosBackup" dataKey="id">
	<ng-template pTemplate="header">
		<tr>
			<th  >Arquivo</th>
			<th style="width:8em"></th>
		</tr>
	</ng-template>
	<ng-template pTemplate="body" let-arquivo let-editing="editing" let-ri="rowIndex">
		<tr>
			<td>
				<a [pTooltip]="arquivo.tooltip" href="{{server}}/backup/{{arquivo.filename}}">{{arquivo.filename}}</a>
			</td>
			<td style="text-align:center">
				<a href="{{server}}/backup/{{arquivo}}">
					<button pButton type="button" class="ui-button-info" icon="pi pi-download"></button>
				</a>
			</td>
		</tr>
	</ng-template>
<p-table>
