
<p-tabView>
	<p-tabPanel>
		<ng-template pTemplate="header"><i class="pi pi-file"></i> Documentos</ng-template>
        <app-cadastra-documentos></app-cadastra-documentos>
    </p-tabPanel>
	<p-tabPanel>
		<ng-template pTemplate="header"><i class="pi pi-id-card"></i> Clientes</ng-template>
		<app-clientes></app-clientes>
	</p-tabPanel>
</p-tabView>
