<div class="p-grid">
	<div class="recuperar-senha p-offset-11 p-col-1">
		<a (click)="recuperarSenha()">Esqueci a senha</a>
	</div>
	<div class="p-col-12">
		<span class="ui-float-label">
			<input type="text" pInputText id="email" [(ngModel)]="email">
			<label for="email">Email</label>
		</span>
	</div>
	<div class="p-col-12">
		<span class="ui-float-label">
			<input [(ngModel)]="senha" pInputText id="senha" type="password" (keyup.enter)="onButtonClick()">
			<label for="senha">Senha</label>
		</span>
	</div>
	<div class="p-col-12">
		<button pButton type="button" label="Login" (click)="onButtonClick()"></button>
	</div>
</div>

<!-- <p-confirmDialog header="Confirmação" icon="pi pi-exclamation-triangle"></p-confirmDialog> -->
