.table-wrap{
	margin-top: 30px;
}


input {
	width: 100%;
}

.add-user{
	margin-left: 30px;
}

.add-user-big{
	width: 100%;
}

.versao-cabecalho{
	font-weight: bold;
	padding-left: 55px;
}

.expanded-row {
	border-style: solid;
	border-top: 0px;
	border-bottom: 0px;
	border-right: 0px;
	border-left: 0px;
	padding-left: 55px;
	margin-top: 0px !important;
}

.odd{
	background-color: #f2ceda;
	border-color: #f2ceda;
}
.even{
	background-color: #ffe5e5;
	border-color: #ffe5e5;
}
