<div class="table-wrap">
	<p-table [value]="documentosReferencia" dataKey="id">
		<ng-template pTemplate="header" let-columns>
			<tr>
				<th style="width: 3em"></th>
				<th>Nome Atual</th>
		        <th>Data Upload</th>
				<th>Enviado por</th>
		        <th>Downloads</th>
				<th>Deletado</th>
			</tr>
		</ng-template>
		<ng-template pTemplate="body" let-referencia let-expanded="expanded">
			<tr>
				<td>
	                <a [pRowToggler]="referencia">
	                    <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
	                </a>
	            </td>
				<td>{{referencia.nome_atual}}</td>
		        <td>{{referencia.data_upload | date:'dd/MM/yyyy HH:mm:ss':'+0000'}}</td>
				<td>{{referencia.responsavel_upload.nome}}</td>
		        <td><a (click)="showDownloads(referencia)">{{referencia.downloads}}</a></td>
				<td>{{referencia.deletado?"Sim":"Não"}}</td>
			</tr>
		</ng-template>
		<ng-template pTemplate="rowexpansion" let-referencia>
			<tr>
				<td colspan="6" >
					<div class="p-grid versao-cabecalho">
						<div class="p-md-3">Nome</div>
						<div class="p-md-3">Data Versão</div>
						<div class="p-md-3">Responsável Atualização</div>
						<div class="p-md-3">Deletado</div>
					</div>
					<div class="p-grid expanded-row" *ngFor="let versao of referencia.versoes; let index=index; let odd=odd; let even=even;">
						<div class="p-md-3 " [ngClass]="{ odd: odd, even: even }">
							<a (click)="download(versao)">{{versao.nome}}</a>
						</div>
						<div class="p-md-3" [ngClass]="{ odd: odd, even: even }">
							{{versao.data_versao | date:'dd/MM/yyyy HH:mm:ss':'+0000'}}
						</div>
						<div class="p-md-3" [ngClass]="{ odd: odd, even: even }">
							{{versao.responsavel_alteracao.nome}}
						</div>
						<div class="p-md-2" [ngClass]="{ odd: odd, even: even }">
							{{versao.deletado?"Sim":"Não"}}
						</div>
						<div class="p-md-1" [ngClass]="{ odd: odd, even: even }" style="text-align: right;">
							<p-button (onClick)="detalharDocumento(versao)" icon="pi pi-eye"></p-button>
						</div>
					</div>

					<!-- <p-table [value]="referencia.versoes" dataKey="id">
						<ng-template pTemplate="header" let-columns>
							<tr>
								<th>Nome</th>
						        <th>Data Versão</th>
								<th>Responsável Atualização</th>
								<th>Deletado</th>
								<th style="width: 4em"></th>
							</tr>
						</ng-template>
						<ng-template pTemplate="body" let-versao>
							<tr>
								<td><a (click)="download(versao)">{{versao.nome}}</a></td>
						        <td>{{versao.data_versao | date:'dd/MM/yyyy HH:mm:ss''+0000'}}</td>
								<td>{{versao.responsavel_alteracao.nome}}</td>
								<td>{{versao.deletado?"Sim":"Não"}}</td>
								<td><p-button (onClick)="detalharDocumento(versao)" icon="pi pi-eye"></p-button></td>
							</tr>
						</ng-template>
					</p-table> -->


				</td>
			</tr>
		</ng-template>
	</p-table>
</div>

<app-documento-detalhes #docDetalhes ></app-documento-detalhes>

<p-dialog header="Downloads Detalhados" [(visible)]="displayDownloads" [style]="{ minWidth: '500px', maxWidth: '500px'}" (onHide)="clearDownloads()">
	<div *ngIf="downloads.length == 0">
		Este documento não possui downloads
	</div>
	<div class="p-grid" *ngFor="let download of downloads">
		<div class="p-md-6">{{download.data_download | date:'dd/MM/yyyy HH:mm:ss':'+0000'}}</div>
		<div class="p-md-6">{{download.email}}</div>
	</div>
</p-dialog>
